body {
  display: grid;
  height: 100vh;
  /* grid-template: 72px 1fr / minmax(25px, 16%) minmax(200px, 25%) 1fr minmax(25px, 16%); // row by col? */
  grid-template-rows: minmax(25px, 5%) 75px 75px 1fr 10px;
  grid-template-columns: minmax(20%,5px) minmax(120px, 20%)  1fr minmax(150px, 10%)  minmax(20%,5px);

}

.btn{
  grid-row: 2 / 3;
  grid-column: 4 / 5;
  margin-left: 15px;
  margin-right: 50px;
  margin-top: 3px;
  border: none;
  border-radius: 12px;
  background-color: #e7e7e7;
  font-size: 16px;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.top-bar {
  background: white;
  grid-row: 2 / 3;
  grid-column: 2 / 4;
  padding-left: 10px;
  margin-top: 3px;
  /* margin-bottom: 5px; */
  margin-left: 50px;
  font-family: sans-serif;
  border: 2px solid black;
  border-radius: 7px;

  font-size:30px; // can make relative font size later
  text-align: left;
  /* text-align:top; */

}

.middle-sidebar {
  background: white;
  font-size: 18px;
  text-align: bottom;
  grid-column: 2 / 4;
  grid-row: 3 / 4;
  padding: 10px;
  margin-left: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.bottom-sidebar {
  font-size: 22px;
  padding: 15px 25px 10px;
  grid-row: 4 / 5;
  grid-column: 2 / 5;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}

body {
  font-family: system-ui, sans-serif;
}
